@use '../../styles/mixins' as *;

.wrapper{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  height: 100%;
  padding: 20px 10px;
  border-radius: 4px;
  color: #fff;
  background: url('/assets/images/friend_bg.webp') left top / cover;
  box-shadow: 0 0 5px rgba($color: #000, $alpha: .6);
}

.itemBtn{
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: transparent;
  transition-property: transform, box-shadow, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: .15s;
  transform: translateY(0) rotate(0);
  box-shadow: 0 0 10px 4px transparent;
  overflow: hidden;
}
.itemBtn:hover{
  z-index: 2;
  background-color: #fff;
  box-shadow: 0 0 10px 4px $primary;
  transform: translateY(-4px) rotate(-1deg);
}
.itemBtn:active{
  transform: translateY(0) rotate(0);
  box-shadow: 0 0 10px 5px adjust-hue($primary, -150deg);
}



.img{
  width: 100%;
  aspect-ratio: 1;
  object-fit: contain;
}
.name{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 4px 10px 6px;
  font-size: 18px;
  text-align: center;
  background-color: #449;
}

.deleteBtn{
  @include buttonTheme;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent !important;

  svg{
    width: 28px;
    height: auto;
  }
}