* {
  box-sizing: border-box;
}


ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  border: none;
  color: inherit;
  cursor: pointer;
  background-color: transparent;
}

button:disabled{
  cursor: auto;
}

svg {
  display: block;
}