@use '../../../mixins.scss' as *;

.list {
  display: flex;
  flex-direction: column;
  gap: 7px;
  padding: 10px 0;
}

.link {
  display: block;
  padding: 0 10px;
  border-right: 5px solid transparent;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  @include textShadow;
}

$active-color: #fd9;

.link.active {
  color: $active-color;
  border-color: $active-color;
  cursor: auto;
}

@include withMobile {
  .list {
    flex-direction: row;
    gap: 15px;
    padding: 7px 15px;
  }

  .link {
    padding: 2px 0;
    font-size: 15px;
    border: none;
    border-bottom: 2px solid transparent;
  }
}