@use '../../styles/mixins.scss' as *;

.wrapper {
  grid-area: header;
  background-color: #f5b;
}

.title {
  margin: 0;
  padding: 12px;
  text-align: center;
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  @include textShadow;

  @include withMobile {
    font-size: 23px;
    letter-spacing: 1.5px;
  }
}