$tabletBreakpoint: 768px;
$mobileBreakpoint: 420px;

@mixin withTablet{
  @media (max-width: $tabletBreakpoint) {
    @content;
  }
}

@mixin withMobile{
  @media (max-width: $mobileBreakpoint) {
    @content;
  }
}

@mixin textShadow{
  text-shadow: 0 0 4px rgba($color: #000000, $alpha: .5);
}

@mixin glitter($pink, $light){
  $center1: 15% 25%;
  $center2: 85% 75%;
  $center3: 15% 75%;
  $center4: 85% 25%;
  $center5: 50% 50%;
  $r1: 2px;
  $r2: 10px;
  $gradient1: radial-gradient(circle at $center1, $light, $light $r1, transparent $r2);
  $gradient2: radial-gradient(circle at $center2, $light, $light $r1, transparent $r2);
  $gradient3: radial-gradient(circle at $center3, $light, $light $r1, transparent $r2);
  $gradient4: radial-gradient(circle at $center4, $light, $light $r1, transparent $r2);
  $gradient5: radial-gradient(circle at $center5, $light, $light $r1, transparent $r2);
  @keyframes moveCenter {
    0% {
      background: $gradient1, $gradient2, $pink;
    }
    33%{
      background: $gradient5, $pink;
    }
    66% {
      background: $gradient4, $gradient3, $pink;
    }
  
    100% {
      background: $gradient1, $gradient2, $pink;
    }
  }
  animation: moveCenter .3s infinite;
}