@use '../../mixins.scss' as *;

$pink: #f49;

.form {
  display: grid;
  grid-template:
    'title img'
    'fields img'
    'save save' /
    auto 125px;
  gap: 20px;
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 15px 6px $pink;
  text-shadow: 0 0 4px rgba($color: #000000, $alpha: .5);

  @include withTablet {
    gap: 10px 15px;
  }

  @include withMobile {
    grid-template:
      'title title' auto
      'fields fields'
      'save img' 1fr
      'cancel img' 1fr /
      1fr 1fr;
      gap: 15px;
  }
}

.title {
  grid-area: title;
  align-self: start;
  margin: 0;
  text-align: center;
  padding: 10px 8px;
  background-color: $pink;

  @include withTablet {
    padding: 8px 8px;
    font-size: 17px;
  }
}

.fields {
  grid-area: fields;
  display: grid;
  grid-template: 1fr 1fr / auto 1fr;
  gap: 15px 10px;
  padding: 8px;
  background-color: $pink;

  @include withTablet {
    grid-template: auto / auto;
    gap: 5px;
  }
}

.fieldName {
  align-self: center;
}

.input {
  min-width: 100px;
  padding: 3px 4px;
  border: none;
  color: darken($pink, 13%);
  user-select: all;

  &::placeholder{
    color: #999;
  }

  @include withTablet {
    &:not(:last-of-type) {
      margin-bottom: 5px;
    }
  }
}

.btn {
  justify-self: center;
  min-width: 70px;
  padding: 5px 10px;
  border-radius: 5px;
  color: $pink;
  font-weight: 600;
  background-color: #fff;
  box-shadow: 0 0 3px #fff, 0 0 10px $pink, 0 0 15px $pink, 0 0 20px 0 $pink, 0 0 25px 0 $pink;
  transition: box-shadow .25s ease-in-out, background-color .25s ease-in-out;

  &:hover {
    box-shadow: 0 0 3px #fff, 0 0 8px $pink, 0 0 8px $pink, 0 0 13px 0 $pink, 0 0 15px 0 $pink;
  }

  &:active {
    box-shadow: 0 0 3px #fff, 0 0 4px $pink, 0 0 4px $pink, 0 0 5px 0 $pink, 0 0 5px 0 $pink;
    background-color: lighten($pink, 25%);
  }

  &:disabled {
    color: #aaa;
    box-shadow: 0 0 25px #777;
    cursor: auto;
  }

  @include withMobile {
    justify-self: stretch;
    align-self: stretch;
    min-width: 100px;
    margin: 5px;
    padding: 10px 15px;
  }
}

.saveBtn{
  grid-area: save;
}

.cancelBtn{
  display: none;
  grid-area: cancel;

  @include withMobile {
    display: block;
  }
}

.img {
  grid-area: img;
  align-self: stretch;
  width: 100%;
  object-fit: contain;
  box-shadow: 0 0 8px $pink;
}